<div class="container">
    <form name="productForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6 col-md-offset-3">
            <h2>Product</h2>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="product.name" placeholder="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" class="form-control" [(ngModel)]="product.description" placeholder="Period Duration"
                    required>
            </div>
            <div class="form-group">
                <label for="unitPrice">Unit Price:</label>
                <input type="number" id="unitPrice" name="unitPrice" class="form-control" [(ngModel)]="product.unitPrice" placeholder="Quantity in stock">
            </div>
            <div class="form-group">
                <label for="salePrice">Sale Price:</label>
                <input type="number" id="salePrice" name="salePrice" class="form-control" [(ngModel)]="product.salePrice" placeholder="Sale Price"
                    required>
            </div>
            <div class="form-group">
                <label for="percentageIncrease">Percentage Increase:</label>
                <input type="number" id="percentageIncrease" name="percentageIncrease" class="form-control" [(ngModel)]="product.percentageIncrease"
                    placeholder="Percentage Increase" required>
            </div>
            <barcodes></barcodes>

            <button class="btn" type="button" (click)="goBack()">Back</button>
            <button type="submit" ng-disabled="productForm.$invalid" class="btn btn-success">Save</button>
        </div>
    </form>
</div>